pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.0
matplotlib==3.9.0
seaborn==0.13.2
python-box==6.0.2
ensure==1.0.2
notebook==7.2.1
pyYAML==6.0.1
joblib==1.4.2
types-pyYAML==6.0.12.20240311
Flask==3.0.3
Flask-Cors
-e .

